*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* الأمور المشتركة : (شريط ال nav , الأزرار , العناوين , الوصف تحت العنوان , ال fotter ) */

nav{
    padding: 0 70px;
    height: 72px;
    position: fixed;
    z-index: 3;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        display: flex;
        p{
            font-family: Exo;
            font-weight: 700;
            font-style: Bold;
            font-size: 28px;
            line-height: 120%;
            vertical-align: bottom;
        }
    }
    ul{
        display: flex;
        gap: 40px;
        list-style: none;
    }
    .login{
        display: flex;
        align-items: center;
        gap: 20px;
        .searshIcon{
            width: 48px;
            height: 48px;
            border:2px solid #FF782D;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .bars{display: none;}
}

.a_line{
    color: black;
    text-decoration: none;
}
.a_line:hover , nav ul li:hover{
    color: #FF782D;
    cursor: pointer;
}
.pageLink{
    position: relative;
}
.pages{
    width: 90px;
    height: 60px;
    border: 2px solid gray;
    background-color: rgba(128, 128, 128, 0.292);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 22px;
    right: -30px;
    opacity: 0;
}
.pageLink:hover{
    .pages{
        opacity: 1;
    }
}
/* ====================================================== */
.buttons{
    padding: 10.5px 24px;
    font-family: Jost;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
    background-color: #FF782D;
    color: white;
    border-radius: 24px;
    border: none;
    cursor: pointer;
}
/* ===========================عناوين رئيسية================================= */

.fo-600{
    font-family: Exo;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 120%;
    vertical-align: middle;
    text-transform: capitalize;
}
/* ======================================وصف تحت العنوان======================== */

.fo-400{
    font-family: Jost;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 150%;
    color: #555555;
}

footer{
    background-color: #F5F5F5;
    height: 458px;
    padding: 50px 70px;
    .content{
        display: flex;
        justify-content: center;
        gap: 30px;

        .text{
            width: 30.211vw;
            .logo{
                display: flex;
                margin-bottom: 32px;
                p{
                    font-family: Exo;
                    font-weight: 700;
                    font-style: Bold;
                    font-size: 28px;
                    line-height: 120%;
                    vertical-align: bottom;
                }
            }
        }

        .getHelp{
            width: 14vw;
            h2{
                font-size: 20px;
                margin-bottom: 32px;
            }
            .list{
                height: 135px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                a{
                    color: #555555;
                    text-decoration: none;
                }
                a:hover{
                    color: #FF782D;
                }
            }
        }

        .programs{
            width: 14vw;
            h2{
                font-size: 20px;
                margin-bottom: 32px;
                .list{
                    height: 225px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }
            }
        }

        .contactUs{
            width: 24.9vw;
            h2{
                font-size: 20px;
                margin-bottom: 32px;
            }
            .address , .tel_mail{
                margin-bottom: 16px;
            }
            .socialMedia{
                img{
                    margin-right: 12px;
                }
            }
        }
    }

    .lastLine{
        text-align: center;
        margin-top: 50px;
    }
}

@media screen and (max-width : 992px){
    nav{
        height: 90px;
        ul , .login{
            display: none;
        }
        padding: 0 20px;
        .bars{display: block;}
    }

    footer{
        height: auto;
        padding: 70px 20px;
        .content{
            width: 88.88vw;
            flex-direction: column;
            .text , .getHelp , .programs , .contactUs{
                width: 100%;
            }
        }
    }
}
